*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-width: 500px;
}
h1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:3em;
	padding: .5em;
	background-color: #D8DBBD;
}
.root{
	display: flex;
	flex-direction: column;
	background-color: #FAF6E3;
	font-size:2rem;
	font-family: sans-serif;
	height: 100vh;
	align-items: center;
	padding-top: 5rem;
}
.main{
	display: grid;
	grid-template-columns: min-content;
}
.inp-data label{
	color: #2A3663;
	font-weight: 700;
}
.inp-data input{
	font-size: 1em;
	margin-bottom: .4em;
	border: 1px;
	border-radius: .5rem;
	padding-left: .5rem;
}
button{
	background-color: #2A3663;
    color: #fff;
    font-size: larger;
	margin: 1rem 0;
	border-radius: 1rem;
}
.marquee{
	font-size: 1.3rem;
	color: #ff0000;
}